html, body, div {
    padding: 0; margin: 0;
}

html {
    font-family: georgia, serif;
    font-size: 1.3em;
}

.container {
    width: 70%;
    margin: 20px auto;
}

.seatmaps {
    width: 100%;
    padding: 2%;
    overflow: auto;
}

.seatmap {
    width: 45%;
    padding: 1%;
    float: left;
}


div[id=seatmap_out] {
    margin-right: 1.5%;
}

.airplane {

}

.row {
    border: 0 !important;
    padding: 0 5px;
    overflow: auto;
}

.seat {
    /* styles that are common to all seats */
    width: 30px;
    height: 30px;
    margin: 5px 1px;
    border: 1px solid #ccc;

    float: left;
}

.seat:hover {
    cursor: pointer;
    border: 1px solid #222;
}

.first-class > div:hover {
    background: #ffa400;
}

.economy-class > div:hover {
    background: #d5f800;
}

.seat .booked {
    cursor: default;
}

.first-class > div {
    /* if seat belongs in the first class compartment */
    background: #ffc300;

}

.economy-class > div {
    /* if seat belongs in the economy class compartment */
    background: #fff973;
}

.first-class > .booked, .first-class > .booked:hover {
    background: black;
    cursor: default;
}

.economy-class > .booked, .economy-class > .booked:hover {
    background: #333;
    cursor: default;
}

.aisle-right {
    margin-right: 5px;
}

.aisle-left {
    margin-left: 5px;
}
